{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container m-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1> Welcome! </h1>
                <div class="alert alert-success">
                    {{ text }}
                </div>
            </div> 
            <div class="col-12 col-md-6">
                <nav>
                    <div class="nav nav-tabs ml-auto">
                        <a class="nav-item nav-link active" id="nav-login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">
                            Login
                        </a>
                        <a class="nav-item nav-link" id="nav-signup-tab" data-toggle="tab" href="#sign-up" role="tab" aria-controls="sign-up" aria-selected="false">
                            Sign Up
                        </a>
                    </div>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active m-2" id="login" role="tabpanel" aria-labelledby="nav-login-tab">
                        <form class="needs-validation" action="{{ url_for('home') }}" method="POST">
                            <div class="form-group">
                                <label for="email"> Email </label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                            </div>
                            <div class="form-group">
                                <label for="password"> Password </label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                            <button class="btn btn-primary" type="submit"> Login </button>
                        </form>
                    </div>
                    <div class="tab-pane fade m-2" id="sign-up" role="tabpanel" aria-labelledby="nav-signup-tab">
                        <form class="needs-validation" action="{{ url_for('signup') }}" method="POST">
                            <div class="form-group">
                                <label for="name"> Enter your name </label>
                                <input type="name" class="form-control" id="name" name="name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="email"> Enter your Email </label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                            </div>
                            <div class="form-group">
                                <label for="password"> Enter a Password </label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label for="re-password"> Enter a Password </label>
                                <input type="password" class="form-control" id="re-password" name="re-password" placeholder="Password" required>
                            </div>
                            <button class="btn btn-primary" type="submit"> Sign up </button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}